.player-profile {
    background: #405275;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    margin: 10px auto;
    padding: 25px;
    transition: 0.2s ease all;
}

.player-profile:hover {
    opacity: 1;
}

.player-info {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.player-profile .player-name {
    color: #f99e1a;
    display: block;
    width: 50%;
}

.player-profile .player-level {
    color: #f99e1a;
    display: block;
    font-size: 0.6em;
    margin-top: 15px;
    text-indent: 0.1em;
    width: 50%;
}

.player-portrait {
    display: inline-block;
    width: 150px;
}